<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.test.webtoapk"
    versionCode = "10"
    version     = "1.0.1" >

<!-- versionCode is optional and Android only -->

  <name>Pendaftaran Pelatihan</name>

  <description>
      Test Program
  </description>

  <author href="" email="sukararisugara12@gmail.com">
      TESTER
  </author>

  <plugin name="cordova-plugin-whitelist" version="1"/>

  <access origin="*"/>
  <allow-intent href="http://*/*" />
  <allow-navigation href="http://*/*" />

</widget>