.button_logout{
    background: grey ;
	color: white;
    font-size:10pt;
    width:20%;
    border:none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 20px;
}

.button_login{
    background: grey ;
	color: white;
    font-size:10pt;
    width:20%;
    border:none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 20px;
}

.tombol_register{
   background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}